<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a class="list-group-item active" href="{% url 'Seller:add_product' %}"> Add Products </a>
        <a class="list-group-item" href="{% url 'Seller:view_product' %}"> View Products </a>
        <a class="list-group-item" href="{% url 'Seller:add_category' %}"> Add category </a>
        <a class="list-group-item" href="{% url 'Seller:view_category' %}"> view Category </a>
        <a class="list-group-item" href="{% url 'Seller:profile' %}"> Profile </a>
        <a class="list-group-item" href="{% url 'Seller:view_orders' %}"> Received orders </a>
    </ul>
    <br>
    <a class="btn btn-light btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log
            out</span> </a>
    <!--   SIDEBAR .//END   -->
</aside>